[2019-12-20 05:15] nearmint opened #21 "Full Leaderboard Link isn't up-to-date"
In odin-bot-v2/botCommands/points.js the URL https://odin-bot.github.io is mentioned to look at the full leaderboard for Odin Points. But for some reason the points displayed there are not up-to-date.

I'd love to help out in fixing this problem, but I don't know where to start. I can't even find the corresponding file for https://odin-bot.github.io.

[2019-12-24 15:53] codyloyd commented on #21
the points there ping the old gitterbot.... fixing it is not as simple as just changing the link tho because discord saves users based on an id rather than a username.. so we'll need to _also_ ping the discord API and get usernames to fill out the list.

[2020-03-11 12:18] zachmmeyer opened #31 "/help command needs to filter out github"
We're linking the github help pages, which starts out as  /help.github.

Obviously there is a way to filter out the github links, I am not skilled enough yet to make my own PR. It's just frustrating.

[2020-03-27 17:58] olav35 commented on #31
Made a PR that fixes the issue.

https://github.com/codyloyd/odin-bot-v2/pull/33

[2020-04-18 03:55] ryanford-dev opened #38 "make tests & require them for new command additions"
Would help fight buggy regex issues

-----------

Briggs wrote the below:

- [x] Setup [jest](https://jestjs.io/) as a dev dependency
- [ ] Add unit tests for all commands
- [ ] Add unit tests for all helper functions that are public
- [ ] Add issues for any problems identified by the tests
- [x] Add a **pre-push** [git-hook](https://githooks.com/) to prevent pushing (there may be a lib to help wi

[2020-04-20 11:51] ryanford-dev opened #41 "Bot responds to /question in Stack Overflow urls"
![image](https://user-images.githubusercontent.com/20901017/79748551-37785500-8340-11ea-845c-cdd0e5d9b097.png)

[2020-07-03 16:47] #31 closed

[2020-07-03 16:47] zachmmeyer commented on #31
GitHub changed from help to docs in their url, so this isn't an issue anymore.

[2020-07-09 17:32] I3uckwheat opened #50 "/help "hack me" link is outdated"
Needs to be updated to point to this repository

[2020-07-09 17:39] zachmmeyer commented on #50
#52

[2020-07-09 23:57] zachmmeyer commented on #50
This issue can be closed.

[2020-08-16 18:31] #50 closed

[2020-08-16 18:32] #41 closed

[2020-10-10 08:52] KevinMulhern opened #56 "Provide Documentation on How to Set the Bot Up and Get it Running"
* Creating the .env file
* How to set up a discord bot and where to get API keys - https://github.com/SinisterRectus/Discordia/wiki/Setting-up-a-Discord-application
* What commands to use to start it
* etc

[2020-10-27 20:09] I3uckwheat opened #59 "Remove pairs from commands"
https://github.com/TheOdinProject/odin-bot-v2/blob/master/botCommands/simpleCommands.js#L64

[2020-10-27 20:16] kashura commented on #59
submitted a PR #60

[2020-11-10 23:42] #59 closed

[2020-11-13 14:46] twalton83 commented on #56
I just had this thought yesterday when setting it up. Luckily I already knew how to work with Discord bots, but it doesn’t hurt to lower the barrier of entry for others. If you weren’t working on this, I’m happy to do this.

[2020-11-13 16:49] aplyd commented on #38
I'd love to help!

[2020-11-13 17:18] twalton83 commented on #38
Happy to join the team.

[2020-11-13 17:58] ryanford-dev commented on #38
@I3uckwheat next time just make a child comment, don't edit the OP

[2020-11-13 18:12] I3uckwheat commented on #38
@ryanford-dev I figured it wasn't' a big deal, as it literally just said: "Would help fight buggy regex issues"

[2020-11-13 18:50] I3uckwheat commented on #21
@codyloyd Is this issue irrelevant now?

[2020-11-13 19:16] I3uckwheat commented on #38
@twalton83 Would you like to lead this?

[2020-11-13 19:17] I3uckwheat commented on #21
@codyloyd Thanks, i'll close this :)

[2020-11-13 19:17] #21 closed

[2020-11-13 19:20] I3uckwheat commented on #56
@twalton83 I'll assign this to you :)

[2020-11-13 20:55] twalton83 commented on #38
@I3uckwheat I don't mind! Only thing I don't know how to do is the git hook but I can look into it or see if someone else is familiar.

[2020-11-13 21:44] dvik1950 commented on #38
I'd like help implement the pre-push hook, I don't have any experience with git hooks but I hope it's not too complicated and the deadline isn't tomorrow or something lol

Another thing, I'm not entirely sure what's the purpose of such a hook

[2020-11-14 18:47] I3uckwheat commented on #38
@dvik1950 The purpose of the git hook is to prevent pushing if there are any failing tests. The hook will run the tests before pushing and can stop a push before it happens when writing `git push origin <branch>`

@twalton83 Great! It looks like you have enough people interested to get started! So start when you're ready! I'm around if you need to ask anything :)

[2020-11-14 19:11] twalton83 commented on #38
@dvik1950 We made a private Discord channel for the issue, what’s your username?

[2020-11-15 03:18] twalton83 commented on #38
Dependency added here: https://github.com/TheOdinProject/odin-bot-v2/pull/63

[2020-11-20 01:35] twalton83 commented on #38
The commands themselves have been refactored, and there are now test files for every command, with an example in callbacks.test.js.

[2020-11-30 17:31] I3uckwheat opened #68 "Add /bootcamps command"
Should say something fun, then link to: https://twitter.com/lzsthw/status/1212284566431576069

[2020-11-30 17:34] twalton83 commented on #68
I'll handle this + the tests.

[2020-11-30 18:23] I3uckwheat commented on #68
@twalton83 Dope, thanks!

[2020-12-01 18:59] aayushmau5 opened #69 "Add /debug command"
Most people tend to skip over the debugging part and ask questions that can be solved by themselves if they knew how to debug.

`/debug` should send a link: https://developers.google.com/web/tools/chrome-devtools/javascript

[2020-12-02 03:29] twalton83 opened #71 "Add ESLint dependency"
- We should add ESLint as a dependency with the same rules as the [theodinproject](https://github.com/TheOdinProject/theodinproject) repo in order to remain consistent.

Completion criteria:
- [ ] Setup ESLint
- [ ] use AirBnB rules
- [ ] setup pre-push hook to check eslint for issues before pushing

[2020-12-03 03:17] BoxenOfDonuts opened #73 "Some Party Parrot Links are dead"
Some links for the party parrot gifs are dead, such as the stable parrot and twin parrot. When the bot posts the gif, it'll just post the broken url instead of the gif.

![image](https://user-images.githubusercontent.com/7082618/100959366-bdb66580-34e3-11eb-9a0c-170c9e329796.png)

![image](https://user-images.githubusercontent.com/7082618/100959391-c73fcd80-34e3-11eb-9f6c-7e1f58a6f29b.png)

[2020-12-03 03:18] BoxenOfDonuts commented on #73
I can also submit a PR to fix

[2020-12-09 22:58] dvik1950 commented on #71
I'd like to work on this, if that's ok

[2020-12-10 04:06] I3uckwheat commented on #71
@dvik1950 Awesome, thanks a lot bro!

[2021-01-09 02:14] #38 closed

[2021-01-11 16:30] twalton83 commented on #71
@dvik1950 Hi Viktor, was a PR ever made for this?

[2021-01-12 00:24] I3uckwheat commented on #71
Yes, I took care of it. Thanks for reminding me about the issue @twalton83

[2021-01-12 00:24] #71 closed

[2021-01-20 15:34] I3uckwheat opened #86 "Investigate possibility of automatically removing embeds when sending links through bot"
![image](https://user-images.githubusercontent.com/4411701/105189424-2f795b80-5af2-11eb-9036-f70246e4d06e.png)

This embed from medium is pretty annoying, it would be nice to have it automatically removed when we're sending links through the bot.

This issue is to just research to see if this is possible by digging into the Discord API

[2021-01-22 21:58] twalton83 opened #88 "/callbacks command should be its own word/group"
The regex for this command currently fails our standards for our already-implemented tests. We need this command's string to only be triggered if the word itself is used in a message, otherwise it will accidentally be triggered by unrelated messages in the chat.

An example of a regex that passes all of the necessary test is our [ /notes command ](https://github.com/TheOdinProject/odin-bot-v2/blob

[2021-01-22 21:59] twalton83 opened #89 "/cqg should be its own word/group"
The regex for this command currently fails our standards for our already-implemented tests. We need this command's string to only be triggered if the word itself is used in a message, otherwise it will accidentally be triggered by unrelated messages in the chat.

An example of a regex that passes all of the necessary test is our [ /notes command ](https://github.com/TheOdinProject/odin-bot-v2/blob

[2021-01-22 22:02] twalton83 opened #90 "help.js commands need to be triggered by single word/group"
The regexes for the commands in this file currently fail our standards for our already-implemented tests. We need the commands' strings to only be triggered if the word OR phrase itself is used in a message, otherwise it will accidentally be triggered by unrelated messages in the chat.

An example of a regex that passes all of the necessary test is our [ /notes command ](https://github.com/TheOdin

[2021-01-22 22:04] twalton83 opened #91 "/mv should be its own word or group"
The regex for this command currently fails our standards for our already-implemented tests. We need this command's string to only be triggered if the word itself is used in a message, otherwise it will accidentally be triggered by unrelated messages in the chat.

An example of a regex that passes all of the necessary test is our [ /notes command ](https://github.com/TheOdinProject/odin-bot-v2/blob

[2021-01-22 22:08] twalton83 opened #92 "points.js commands regexes need to pass their tests"
The regexes for some of the commands in this file currently fail our standards for our already-implemented tests. We need the command's string to only be triggered if the word OR phrase itself is used in a message, otherwise it will accidentally be triggered by unrelated messages in the chat.

An example of a regex that passes all of the necessary test is our [ /notes command ](https://github.com/

[2021-01-22 22:10] twalton83 opened #93 "/shrug commands need to be their own word/group"
The regex for these commands currently fail our standards for our already-implemented tests. We need each command's string to only be triggered if the word itself is used in a message, otherwise it will accidentally be triggered by unrelated messages in the chat.

An example of a regex that passes all of the necessary test is our [ /notes command ](https://github.com/TheOdinProject/odin-bot-v2/blo

[2021-01-22 22:12] twalton83 opened #94 "simpleCommands.js commands need to pass all tests"
**NOTE**: There are multiple commands in this file. All of these commands must pass.

The regexes for the commands in this file currently fail our standards for our already-implemented tests. We need each command's string to only be triggered if the word itself is used in a message, otherwise it will accidentally be triggered by unrelated messages in the chat.

An example of a regex that passes al

[2021-01-22 22:16] twalton83 opened #95 "/time command needs to pass all tests"
**NOTE**: Additionally, this command will need to pass the snapshot tests. The the `import` statement in the spec file needs to be changed to `const helpers = require('./mockData)`, and the references to `generateMentions` need to be updated to `helpers.generateMentions()` now that more than one helper is being exported from our `mockData` file.

The regex for this command currently fails our stan

[2021-01-22 22:53] jingjing142 commented on #92
Hi, I’d like to do this 🤓

[2021-01-22 22:59] twalton83 commented on #92
@jingjing142 Thank you! There are multiple commands in this file, so be sure to work through them one by one and toggle the other test suites on and off as you do. :D

[2021-01-22 23:06] twalton83 commented on #56
We can close this one now :)

[2021-01-23 03:16] DaeguDude commented on #86
Are we looking for a solution that disable all the embed of the links that were sent through the bot?

I've looked up the solution to disable specific link, by wrapping them with `<link>`.

**Before**
<img width="1134" alt="Screen Shot 2021-01-23 at 12 13 05 PM" src="https://user-images.githubusercontent.com/35420073/105567322-95751580-5d74-11eb-9ecb-19bcbf59dec3.png">

**After**
<img width="1112"

[2021-01-23 16:57] BoxenOfDonuts commented on #91
I can take a swing at this one

[2021-01-23 17:15] twalton83 commented on #91
Thanks!

[2021-01-24 12:39] DaeguDude commented on #88
If other commands should be worked on(That other people are not working on), Could I take a swing?

[2021-01-24 14:39] twalton83 commented on #88
Please do, thank you!

[2021-01-25 01:11] DaeguDude commented on #88
Cool! I've just finished `cqg` and `callbacks` command. However, while I'm working on `time` and `shrug` commands, they both have the issue regarding some TypeError.

It says `generateMentions` from 'mockData.js' is not a function. Here's how it looks like.
![Screen Shot 2021-01-25 at 10 07 20 AM](https://user-images.githubusercontent.com/35420073/105650001-997c7100-5ef5-11eb-8402-acc163047e88.png

[2021-01-25 01:14] twalton83 commented on #88
Look at the mockData file and amend how generateMentions needs to be imported :D

[2021-01-25 01:28] DaeguDude commented on #88
Oops, thought I shouldn't be touching anything other than regex commands :) Will do!

[2021-01-25 01:32] twalton83 commented on #88
No worries, you need to just change the import statement in the test file. The mockData file used to only have one function, now it exports two, so the import statement needs to adjust a bit.

[2021-01-29 01:29] DaeguDude commented on #93
If this hasn't been worked on by any others, I'd be happy to work on this :)

Just quick heads up on me, are we looking for `shrug` to pass or `shurg` to pass???
<img width="730" alt="Screen Shot 2021-01-29 at 10 24 48 AM" src="https://user-images.githubusercontent.com/35420073/106219424-a910f800-621c-11eb-833c-989cb074277f.png">

[2021-01-31 04:49] The-sad-philosopher commented on #94
Can i be assigned to this issue?

[2021-01-31 06:04] twalton83 commented on #94
@The-sad-philosopher this one is being worked on but we do have others still needing help!

[2021-01-31 10:22] The-sad-philosopher commented on #94
@twalton83 ah, shoot ! I wrote a version that passed all the tests. Let me know if that'd be any useful.
I think there were a few wrong test cases too.

[2021-01-31 10:42] The-sad-philosopher commented on #94
I had already done a version that passed the tests when I read your comment @twalton83, so I thought I'd go ahead and put a pull request. Feel free to close it if it is already been done. My bad I hadn't seen your remark earlier.

[2021-02-02 01:57] #88 closed

[2021-02-02 01:57] #89 closed

[2021-02-02 01:57] #90 closed

[2021-02-02 01:57] #94 closed

[2021-02-02 01:57] #95 closed

[2021-02-02 04:40] I3uckwheat commented on #86
@DaeguDude I think you've solved it! Great work!

[2021-02-02 05:06] DaeguDude commented on #86
@I3uckwheat No worries :)

If there's a list of commands that we don't want the embeds on I'm happy to work on it to change accordingly

[2021-02-02 05:14] I3uckwheat commented on #86
@DaeguDude Please make issues for them first, you may assign yourself, but lets spread some work out to give other's opportunities :)

[2021-02-02 16:44] #93 closed

[2021-02-02 16:44] #91 closed

[2021-02-02 16:44] #56 closed

[2021-02-02 16:46] twalton83 commented on #68
Closed with #96

[2021-02-02 16:46] #68 closed

[2021-02-03 01:07] DaeguDude opened #101 "Removing embeds when sending link through the bot"
In discord, auto-embeds are emitted when sending link through the bot. For example, if you call `/callbacks` command in the discord, you'll see this embed.

<img width="803" alt="Screen Shot 2021-02-03 at 10 05 14 AM" src="https://user-images.githubusercontent.com/35420073/106683163-5c0b9800-6607-11eb-931d-766c0d2ba7a5.png">

It'd be nice if we could remove those auto-embeds.

Tasks will be,

- [x

[2021-02-03 06:01] #86 closed

[2021-02-03 16:55] twalton83 commented on #92
Closed with #98

[2021-02-03 16:55] #92 closed

[2021-02-03 16:56] #73 closed

[2021-02-03 16:57] twalton83 commented on #69
Just now getting back to this, I'm not opposed. If you'd like, you can make the PR.

[2021-02-03 17:05] twalton83 opened #102 "Create PR and Issue Template"
To stay in line with the rest of our repositories, we need to create a template for PRs and Issues.

Completion Criteria:

- [ ] Issues template is created
- [ ] PR template is created

[2021-02-03 17:31] aayushmau5 commented on #69
Okay, Will make a PR on this. Thanks @twalton83

[2021-02-03 22:14] #102 closed

[2021-02-04 21:21] rlmoser99 opened #105 "Update /debug for JS and Ruby"
Since students in the ruby section often ignore the importance of learning debugging as well, it would be great to have a command for both sections.

Update the /debug command to accept the arguments `js` or `rb`

It was discussed to have the /debug command without arguments to link to wikipedia's debugging page, but I would if it would better to expand the wording of the bot command to something

[2021-02-07 04:00] #69 closed

[2021-02-07 04:00] twalton83 commented on #105
@aayushmau5 If you were interested in expanding /debug, here's the issue!

[2021-02-07 12:31] aayushmau5 commented on #105
Would love to work on this.

[2021-02-11 00:59] twalton83 opened #107 "Points++ command no longer accepts the star argument"
In our refactor of the regexes, we accidentally removed the argument allowing the Discord :star: emoji to be used instead of "++".

**COMPLETION CRITERIA**
- [X] `addPoints()` is triggered by `@username ⭐ ` as well as `@username ++`
- [X] points.test.js tests all pass

[2021-02-14 23:53] DaeguDude commented on #101
I guess I will work on this.

[2021-02-15 03:53] #105 closed

[2021-02-16 02:31] DaeguDude commented on #101
**Find all bot commands that emit the embeds**

___

@I3uckwheat Currently there are 2 commands that emit the auto-embeds

- `/bootcamps`
- `/windows`

<img width="627" alt="Screen Shot 2021-02-16 at 11 19 05 AM" src="https://user-images.githubusercontent.com/35420073/108011209-f0cfb600-7049-11eb-8e82-1706df71ba0c.png">
<img width="635" alt="Screen Shot 2021-02-16 at 11 19 15 AM" src="https://user

[2021-02-16 02:34] I3uckwheat commented on #101
@DaeguDude I think we can leave the twitter one. The Odin one can go though.

[2021-02-16 02:48] DaeguDude commented on #101
@I3uckwheat I will disable auto embed on `/windows` command and make a PR then

[2021-02-18 12:44] #101 closed

[2021-03-01 19:16] twalton83 opened #111 "Reword /question command"
In an effort to make the command come off as more of a "call in" rather than a "call out", we'd like to change the wording of the `/question` command from "It looks like you're trying to ask a question! Please give this page a read" to something that may come off a little more friendly, such as "Help others help you, check out this article:". Open to suggestions.

**Completion Criteria**:
- [x] Th

[2021-03-01 19:22] thatblindgeye commented on #111
Commenting to claim

[2021-03-01 19:23] twalton83 commented on #111
Thank you! Please see our README for instructions :)

[2021-03-01 21:23] #107 closed

[2021-03-02 15:11] twalton83 opened #112 "Update /code command"
We need to update the /code command to include a suggestion for Codepen or Repl.it for larger code snippets. This command can be found in the `botCommands/help.js`file.

*COMPLETION CRITERIA*:
- [ ] new copy including mention of one or both of the above services
- [x] snapshot tests are updated (see README for instructions)
- [x] The automatic Discord embed has been removed from the link. See here

[2021-03-02 21:14] thatblindgeye commented on #111
Possible suggestions for the replacement phrase (I can try shortening them as well if they're too long):

- "We'd love to help you out! Check out this article to help others better understand your question:"
- "Would you mind checking out this article? It'll help others offer the best answer possible to help you."
- "Helping others also helps you. Checking out this article helps others offer you t

[2021-03-02 22:02] twalton83 commented on #111
I prefer the first.

[2021-03-02 22:03] zainthedev commented on #112
Could I claim this one, please?

[2021-03-03 05:06] zainthedev commented on #112
Looks like /code doesn't have it's own snapshot.
The test for it looks like this:
[code]
Looks like it doesn't mention a need for matching the snapshot. What should I do?
Considered separating it into it's own file (ie. outside of `help.js`) and expect a /code snapshot to be created. How does that sound?

[2021-03-03 16:55] twalton83 opened #116 "Fix ESLint Errors"
Nearly all of our code does not comply with our ESLint configuration, so we will need to manually fix these errors to ensure accuracy, and make decisions for refactoring where necessary.

**Completion Criteria**:

- [x] ESLint no longer throws any errors or warnings
- [x] All files are linted and fixed

[2021-03-04 06:00] #111 closed

[2021-03-04 17:28] JonColman94 commented on #116
I'll have a crack at this.

QChai

[2021-03-04 18:38] twalton83 commented on #116
Thanks, let's discuss in the contributions channel because a bit more thought has to go into a lot of these changes.

[2021-03-09 14:04] twalton83 commented on #112
Closed by #115

[2021-03-09 14:04] #112 closed

[2021-03-10 00:35] JonColman94 commented on #116
I'd imagine with the latest merge, this issue is resolved unless there are any other pressing issues?

[2021-03-10 00:42] twalton83 commented on #116
There's still a few warnings that we need to manually resolve. Thanks for the help though! @JonColman94

[2021-03-11 03:29] twalton83 opened #120 "Repl.it url needs to be updated"
Repl.it is changing to a new url, replit.com, and our /code command needs to be updated to fix this, as well as our snapshot tests.

[2021-03-11 03:30] thatblindgeye commented on #120
Commenting to claim

[2021-03-11 15:31] twalton83 opened #122 "Points ++ command needs to accept >= 2 plus signs"
- when we updated the regex, we eliminated the ability to use a variable number of plus signs > 2

Completion criteria:

- [x] greater than or equal to two plus signs trigger the callback
- [x] all tests pass

[2021-03-13 05:11] #120 closed

[2021-03-15 22:44] #122 closed

[2021-03-15 22:55] twalton83 opened #128 "Create /xy command"
We'd like to add a command to address the "XY Problem". Make the associated message friendly and/or funny, and link to the xyproblem.info. We want something similar to our `/question` command.

**Completion Criteria**:
- [ ] a new command triggered by `/xy` with a "fun" message that links to the [the XY Problem website](https://xyproblem.info/)
- [ ] unit tests and snapshot tests for the new comma

[2021-03-16 01:49] wise-king-sullyman commented on #128
I direct people to that link every so often, I'd be happy to knock this out.

[2021-03-16 01:50] twalton83 commented on #128
Thanks!

[2021-03-17 03:33] twalton83 commented on #128
Closed by #129

[2021-03-17 03:33] #128 closed

[2021-03-21 08:19] twalton83 opened #131 "Create /top command"
We need a quick and easy command that links people to https://theodinproject.com/

A similar command to base this off of would be our `/windows` command.

**Completion Criteria:**

- [ ] New command that is triggered by the string "`/top`", with a fun little string prepending it
- [ ] Tested, with all tests passing and a new snapshot
- [ ] Link embed is removed [SEE HERE](https://support.discord.c

[2021-03-21 08:22] bscottnz commented on #131
keen :)

[2021-03-21 08:25] twalton83 commented on #131
All yours @bscottnz, go ahead and take a gander at our README and ask any questions if need be.

[2021-03-21 19:32] CatQueenCodes opened #132 "Create /faq command"
We need a quick and easy command that links people to our new discord faq channel: https://discord.com/channels/505093832157691914/823266307293839401/823266549912829992

A similar command to base this off of would be our /time command. [Check it out here](https://github.com/TheOdinProject/odin-bot-v2/blob/b72ba8be197d0aba83e8d1333078ddaa69c12f96/botCommands/time.js).

**Completion Criteria:**

- [

[2021-03-21 19:36] Zadag commented on #132
I'll work on this later today.

[2021-03-22 00:08] #131 closed

[2021-03-23 14:35] twalton83 opened #137 "/code command needs to be a rich embed"
We are in the process of moving our commands  to a Rich Embed feature that makes the commands more obvious, and take up less space in the chat. An example of this is below:

<img width="637" alt="Screen Shot 2021-03-23 at 7 29 44 AM" src="https://user-images.githubusercontent.com/22967723/112162717-8ad6d100-8ba9-11eb-8f75-67f3ea230028.png">

https://discordjs.guide/popular-topics/embeds.html#embed

[2021-03-24 00:59] DaeguDude commented on #137
I'll take a crack at this

[2021-03-24 01:00] twalton83 commented on #137
This one will be a little more involved, and require you run an instance of the bot so we can see what the embed looks like. You good with that?

[2021-03-24 01:08] DaeguDude commented on #137
Like run an instance of the bot in my own server to see what the embed looks like?
Is there any time-bound on this?

[2021-03-24 01:11] twalton83 commented on #137
Yep, we want to make sure we're good with the layout or if we want to make changes. No, not particularly.

[2021-03-24 01:14] DaeguDude commented on #137
Yup, I'm good with it.

[2021-03-24 01:48] twalton83 opened #140 "/help command needs to return a MessageEmbed"
We are in the process of moving our commands to a Message Embed feature that makes the commands more obvious, and take up less space in the chat. An example of this is below.
<img width="831" alt="Screen Shot 2021-03-30 at 7 56 51 PM" src="https://user-images.githubusercontent.com/22967723/113084021-1516ca80-9192-11eb-880b-3696e6715a65.png">

[Embed Guide](https://discordjs.guide/popular-topics/em

[2021-03-26 18:24] #132 closed

[2021-03-26 18:25] twalton83 opened #141 "Updated README to include mentions of forking repository"
If a user wants to (easily) contribute, they should *fork* the repo, then clone their fork. The instructions should be updated to include the forking step if they wish to contribute.

[2021-03-29 05:49] DaeguDude commented on #137
This is the basic embed that I came up with. I have fill in the aforementioned fields, but I
am not too sure this is the look that we want.

I'd appreciate some feedback so I can implement
![Screen Shot 2021-03-29 at 2 45 54 PM](https://user-images.githubusercontent.com/35420073/112792115-d30c5c80-909d-11eb-8fbe-a3526f4b8c99.png)

[2021-03-29 06:26] twalton83 commented on #137
There’s a typo with “snippets”

[2021-03-29 06:29] DaeguDude commented on #137
Oops, yeah. I will fix it before committing it.
But overall the look of the embed is okay?

[2021-03-29 13:43] twalton83 commented on #137
I like the embed. I know you said you’ll proofread, but let’s change “to the others” in the first sentence to “with others”.

Let’s change the next header to “Sharing Code On Discord”.

I think showing multi line code and then showing it again with syntax highlighting is redundant, we want people to highlight by default so let’s just combine the first bit of text but use the syntax highlighting ex

[2021-03-29 13:44] twalton83 commented on #137
ah, I actually just realized that we also mention users in this command. Let’s not forget to add that capability too. It can go in the message under the first header.

[2021-03-31 02:46] twalton83 opened #145 "/data command needs new copy and needs to be converted to a MessageEmbed"
We are in the process of moving our commands  to a MessageEmbed feature that makes the commands more obvious, and take up less space in the chat. An example of this is below:

<img width="831" alt="Screen Shot 2021-03-30 at 7 56 51 PM" src="https://user-images.githubusercontent.com/22967723/113084021-1516ca80-9192-11eb-880b-3696e6715a65.png">

[Embed Guide](https://discordjs.guide/popular-topics/e

[2021-03-31 02:51] twalton83 commented on #141
Closed by #142

[2021-03-31 02:51] #141 closed

[2021-03-31 02:51] twalton83 commented on #137
Closed by #144

[2021-03-31 02:51] #137 closed

[2021-03-31 02:56] twalton83 opened #146 "/question command needs to return a MessageEmbed"
We are in the process of moving our commands to a MessageEmbed feature that makes the commands more obvious, and take up less space in the chat. An example of this is below.
<img width="831" alt="Screen Shot 2021-03-30 at 7 56 51 PM" src="https://user-images.githubusercontent.com/22967723/113084021-1516ca80-9192-11eb-880b-3696e6715a65.png">

[Embed Guide](https://discordjs.guide/popular-topics/emb

[2021-03-31 03:02] twalton83 opened #147 "/faq command needs to return a MessageEmbed"
We are in the process of moving our commands to a MessageEmbed feature that makes the commands more obvious, and take up less space in the chat. An example of this is below.
<img width="831" alt="Screen Shot 2021-03-30 at 7 56 51 PM" src="https://user-images.githubusercontent.com/22967723/113084021-1516ca80-9192-11eb-880b-3696e6715a65.png">

[Embed Guide](https://discordjs.guide/popular-topics/emb

[2021-03-31 03:07] twalton83 opened #148 "/windows command should return a MessageEmbed"
We are in the process of moving our commands to a MessageEmbed feature that makes the commands more obvious, and take up less space in the chat. An example of this is below.
<img width="831" alt="Screen Shot 2021-03-30 at 7 56 51 PM" src="https://user-images.githubusercontent.com/22967723/113084021-1516ca80-9192-11eb-880b-3696e6715a65.png">

[Embed Guide](https://discordjs.guide/popular-topics/emb

[2021-03-31 03:14] twalton83 opened #149 "/debug command needs to return a MessageEmbed"
We are in the process of moving our commands to a Message Embed feature that makes the commands more obvious, and take up less space in the chat. An example can be seen below:

<img width="831" alt="Screen Shot 2021-03-30 at 7 56 51 PM" src="https://user-images.githubusercontent.com/22967723/113084021-1516ca80-9192-11eb-880b-3696e6715a65.png">

[Embed Guide](https://discordjs.guide/popular-topics/

[2021-03-31 03:26] twalton83 opened #150 "/leaderboard command should return a MessageEmbed"
We are in the process of moving our commands to a MessageEmbed feature that makes the commands more obvious, and take up less space in the chat. An example of this is below.
<img width="831" alt="Screen Shot 2021-03-30 at 7 56 51 PM" src="https://user-images.githubusercontent.com/22967723/113084021-1516ca80-9192-11eb-880b-3696e6715a65.png">

[Embed Guide](https://discordjs.guide/popular-topics/emb

[2021-03-31 17:26] timjacksonm commented on #150
I will take this one.

[2021-03-31 23:57] fernie-cpu commented on #149
Mine

[2021-04-01 00:04] twalton83 opened #151 "Upgrade Discord.JS from v11 to v12"
Discord will be introducing breaking changes that will conflict with DiscordJS v11.
<img width="1177" alt="Screen Shot 2021-03-31 at 5 03 25 PM" src="https://user-images.githubusercontent.com/22967723/113225655-03413000-9243-11eb-9619-86e96bf8ca2a.png">

We will need to:

- Identify all areas that are affected by the upgrade
- Transition it over to v12 compliant syntax
- Update bot documentation w

[2021-04-01 00:05] twalton83 commented on #149
Blocked by #151

[2021-04-01 00:07] twalton83 commented on #148
Blocked by #151

[2021-04-01 00:09] twalton83 commented on #146
Blocked by #151

[2021-04-01 00:10] twalton83 commented on #145
Blocked by #151

[2021-04-01 07:38] fernie-cpu commented on #146
I'd like to get this one too when we're good to go

[2021-04-01 21:39] #151 closed

[2021-04-01 22:54] sheacronin commented on #147
Hi, I'm interested in taking this on!

[2021-04-01 23:02] twalton83 commented on #147
Thanks @sheacronin!

[2021-04-02 03:53] DoviMaj commented on #145
me me me

[2021-04-02 13:26] mdlugosz1 commented on #148
I'd be happy to work on this issue

[2021-04-02 13:30] twalton83 commented on #148
Thanks!

[2021-04-02 19:00] #147 closed

[2021-04-04 01:10] #148 closed

[2021-04-04 01:10] #146 closed

[2021-04-04 01:11] #149 closed

[2021-04-04 01:13] twalton83 opened #161 "Pre-commit hook should check for ESLint"
Many contributors push code that fails our CircleCI checks because they are not forced to lint their code at any point in the Git process.
We should:

- Update Husky to check for linting errors
- Create a pre-*commit* hook for the above

[2021-04-04 22:49] mdlugosz1 commented on #140
I can deal with this one.

[2021-04-04 22:51] twalton83 commented on #140
Sure, let’s talk about it on Discord in the contributions channel.

[2021-04-06 05:47] BrianWisniewski commented on #161
I would be happy to take a crack at this one if it is not yet claimed.

[2021-04-06 10:26] twalton83 commented on #161
I already made the pr, thanks though @BrianWisniewski

[2021-04-07 00:11] twalton83 commented on #145
Closed by #163

[2021-04-07 00:11] #145 closed

[2021-04-08 18:03] twalton83 commented on #161
Closed with #165

[2021-04-08 18:03] #161 closed

[2021-04-16 17:13] twalton83 commented on #140
Closed with #167

[2021-04-16 17:13] #140 closed

[2021-04-16 17:14] twalton83 opened #168 "Point should not be awarded in #bot-spam-playground"
# User Stories
As a maintainer, I would like to prevent the abuse of the points system in a largely unmonitored spam channel, so we should add a restriction to the `awardPoints` function that determines if the channel is the #bot-spam-playground, and returns a message stating that you can't award points there.

# Completion Criteria

- [x] points are unable to be awarded in specified channel(s)
-

[2021-04-20 04:48] BrianWisniewski commented on #168
I'll give this one a shot.

[2021-04-20 05:00] twalton83 commented on #168
Let’s discuss the approach because this also requires one to write tests and mocks.

[2021-04-20 05:07] twalton83 commented on #168
@BrianWisniewski To reiterate what I’ve mentioned on Discord (and for transparency so all who read the issue can see it)- this might be better suited towards a maintainer who has intimate knowledge of our tests and what we need here. We currently have a feature freeze and won’t be prioritizing implementing this, but I appreciate you asking.

[2021-05-18 02:53] twalton83 opened #170 "ModMail"
# User Stories
- As a member of the TOP Discord server, I would like to be able to privately report any inappropriate behavior or rule-breaking to the moderators of the server so that I can continue to have a safe and respectful time in the server.
- As a moderator, I want to be able to have an avenue for server members to formally report behavior so that the maintainer team can swiftly address th

[2021-06-05 17:29] #168 closed

[2021-07-01 23:22] KevinMulhern opened #175 "Chore: Use Limit and Offset Params when Fetching the Points from The API in the Leaderboard command"
### Description
Currently we fetch all the points records from the API and filter them using JS. This makes the leaderboard command code complicated and will eventually become a performance problem.

Letting the database handle this filtering on the api side would be much more efficient and it would simplify the leaderboard bot code significantly. We already have the parameters to do this set up o

[2021-07-07 19:34] twalton83 opened #176 "Extend ++ command to award double points for good questions"
# Description
In an effort to improve the Discord community, the ability for maintainers and core members to award 2 points for good questions should be implemented.

# Acceptance Criteria
- [ ] Users with a maintainer or core role are able to use `@user ?++` to award points
- [ ] Using the new API query params, the above command should award the mentioned user two points
- [ ] A message stating s

[2021-07-22 08:27] timothyling1994 commented on #176
hey @twalton83, can I work on this?

[2021-07-22 13:32] twalton83 commented on #176
If you can write the corresponding tests for this, absolutely.

[2021-07-30 17:28] twalton83 commented on #176
@timothyling1994 Will you be taking this issue?

[2021-07-30 19:43] timothyling1994 commented on #176
@twalton83 hey sorry for the delay. yes! i'll take this issue. I'll spend some time this weekend to work on it.

[2021-07-30 19:45] twalton83 commented on #176
Please let us know if you have any questions about the testing or DiscordJS.

[2021-07-30 19:52] twalton83 commented on #170
Closing- there's built in and pre-made options that can better serve this purpose without reinventing the wheel.

[2021-07-30 19:52] #170 closed

[2021-07-30 19:52] twalton83 commented on #116
Closing because all errors are resolved, and warnings are less of a priority and can be targeted in a later bot refactor

[2021-07-30 19:52] #116 closed

[2021-08-02 05:01] timothyling1994 commented on #176
@twalton83 I took a look at the codebase and had a couple of questions:

1) In the config file, there's a points bot token (which is rightfully obscured in the .env file) that is required to send an authenticated request to the TOP points API endpoint (**https://www.theodinproject.com/api/points?discord_id=${discordId}**). Is there a test API endpoint that I could use for testing? Or did you want

[2021-08-02 13:53] twalton83 commented on #176
In these units tests we are testing that the function itself works, not that the API is hit, so we should mock axios (see elsewhere in the test file for an example).

Refer to this issue for bullet 2- no need to hit the API twice now: https://github.com/TheOdinProject/odin-bot-v2/issues/175

[2021-08-22 00:19] twalton83 commented on #176
@timothyling1994 Do we have any update? :D

[2021-08-25 19:04] twalton83 opened #180 "/points command should show author's points if no one is mentioned"
Currently the `/points` command requires the author to @ mention themselves if they would like to check their own points. It is more intuitive and common of other bots to check the author's own points without needing to mention themselves.

**Completion Criteria:**

- [ ] The `/points` command takes in the `author` as an argument
- [ ] The [`/points` command](https://github.com/TheOdinProject/odin

[2021-09-08 21:22] timothyling1994 commented on #176
@twalton83
The implementation, test cases, and linting have been completed. There's one last thing before I'm ready to rebase on master.

I'm still unclear on how to POST the API endpoint to add 2 points to a specific user. The issue you linked above (#175) seems to be about filtering the leaderboard data when using GET on the endpoint. I'm unclear on what parameter I need to pass in the API call

[2021-09-09 13:26] twalton83 commented on #176
@KevinMulhern do you mind clarifying or perhaps pointing this user to the POST route?

[2021-09-09 18:35] KevinMulhern commented on #176
@twalton83 sorry for the delay.

The post route takes a value param for the points amount, for example:
`https://www.theodinproject.com/api/points?discord_id=${discordId}&value=2);`

[2021-09-17 15:02] lstewart11 commented on #180
Is this still available to be worked on?

[2021-09-17 15:11] twalton83 commented on #180
This is closed, sorry about that!

[2021-09-17 15:11] #180 closed

[2021-09-21 00:17] twalton83 commented on #176
@timothyling1994 Did the above clear this up for you?

[2021-09-21 21:34] martinsmars opened #184 "Awarding points (++) in Discord Threads"
Threads are a recent Discord feature to help people participate in important conversations/issues. It is also good to separate each "problem" in the TOP Discord. I would like to suggest to make it so you can award points in these threads

[2021-09-22 01:51] Ishmam156 commented on #184
I would like to take this on if no one else has been assigned to it already :)

Just a small note - haven’t yet worked on threads on discord.JS so might require a little bit of time to get the hang of it but hoping maybe a week at max.

[2021-09-24 08:21] timothyling1994 commented on #176
@twalton83 yes this cleared it up - I've made the appropriate changes. Currently reviewing merge differences between my local repo and the current upstream main branch. I should be able to submit my PR tomorrow. Apologies on the delay

[2021-09-24 22:21] timothyling1994 commented on #176
@twalton83 Created the PR above. Let me know if you have any questions or comments!

[2021-09-25 16:57] twalton83 commented on #184
After some discussion, this issue is blocked per the above. This will require some rewrite of the bot at large to facilitate DiscordJS 13+.

[2021-10-21 13:20] #176 closed

[2021-10-22 19:17] twalton83 opened #190 "?++ command should stand out"
The command's return points message currently only shows the same copy as the ++ command. It should be altered to better reflect the intent of the message.

[2021-10-22 21:26] twalton83 opened #191 "Update #creations-showcase message to tell folks not to post feedback in sibling channel"
Users miss the channel description that asks them not to ask for feedback (and thus clog up) in the #creations-discussions channel. The bot message should be updated to denote this.

[2021-10-23 16:24] #190 closed, assigned to twalton83

[2021-10-23 16:51] #191 closed, assigned to nobody

[2022-01-31 01:21] zachmmeyer opened #196 "Post random Sully gif upon new Club-40 member"
We should stop pinging Sully and just have his gifs be cycled. It's nice to have that live person feel, but it should be automated.
It can pick from a folder somewhere and pick a random one as they get added.

[2022-03-08 04:06] #196 closed

[2022-03-09 18:59] zachmmeyer commented on #175
@marvingay All yours!

[2022-03-09 19:18] marvingay commented on #184
This was resolved in https://github.com/TheOdinProject/odin-bot-v2/pull/210

[2022-03-22 22:51] #150 closed

[2022-09-01 06:45] 01zulfi opened #242 "Feature: Upgrading Bookmark Service"
Complete the following REQUIRED checkboxes:
-   [X] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [X] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [ ] I wo

[2022-09-24 18:23] wise-king-sullyman opened #248 "Add tests for auto-message on mod message deletetion"
Complete the following REQUIRED checkboxes:
-   [x] I have thoroughly read and understand [The Odin Project Contributing Guide](https://github.com/TheOdinProject/theodinproject/blob/main/CONTRIBUTING.md)
-   [ ] The title of this issue follows the `location for request: brief description of request` format, e.g. `NodeJS course: Add lessons on XYZ`

The following checkbox is OPTIONAL:

-   [x] I wo

[2022-10-02 18:39] wise-king-sullyman opened #249 "Add tests for @theodinproject/odin-bot-v2#247 mod message deletion functionality + setup slash command testing foundations"